body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f9ff;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */

.sidebar ul .logout-item {
  margin-top: 40px; 
  border-top: 1px solid #444; 
  padding-top: 20px; 
}

.sidebar {
  width: 180px;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar .logo {
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 25px 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

/* Main content */
.main {
  flex: 1;
  padding: 20px;
}

/* Form input dan button */
form input[type="text"],
.search-input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  width: 300px;
}

form button,
.btn-add-package {
  padding: 5px 10px;
  border: none;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

}

/* Tabel styling */
.packages-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 15px;
}

.packages-table th {
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
}

.packages-table td {
  padding: 12px;
  border: none;
  text-align: center;
}

/* Striping untuk baris ganjil dan genap */
.packages-table tbody tr:nth-child(odd) {
  background-color: #f0f4ff;
}

.packages-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Logo */
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-wrapper img {
  height: 90px;
}

.logo-text {
  font-size: 15px;
  color: white;
  transform: translateX(-20px);
}